<header>
  <div id="flinders-sticky">
    <%= image_tag "flinders.png", { :class => "logo" } %>
    <h1>Welcome to <%= @building.name %> <small>(<%= @building.code %>)</small> <small>(<%= @term_date.week %>)</small></h1>
  </div>
</header>

<div id="slider" class="flexslider">
    <ul class="slides container-fluid">
      <li id="bookings-slide" data-url="<%= url_for :controller => 'signage', :action =>  'bookings', :id => @building.id %>"></li>
      <li id="news-slide" data-url="<%= url_for :controller => 'signage', :action =>  'news', :id => @building.id %>"></li>
      <li id="tonsley-feed-slide"><%= render 'signage/tonsley_feed' %></li>
    </ul>
</div>

<script>
    $.fn.refresh = function() { this.load(this.data('url')); }

    $(document).ready(function() {
        function update(){
            $('#bookings-slide').refresh()
            $('#news-slide').refresh()
        }

        window.setInterval(update, 60000);
        update();

        $('#slider').flexslider({
            animation: "fade",
            controlNav: false,
            directionNav: false
        });
    });
</script>