<header>
  <div id="flinders-sticky">
    <%= image_tag "flinders.png", { :class => "logo" } %>
    <h1>Welcome to <%= @building.name %> <small>(<%= @building.code %>)</small> <small>(<%= @term_date.week %>)</small></h1>
  </div>
</header>

<div id="slider" class="flexslider">
    <ul class="slides container-fluid">
      <li id="bookings-slide"></li>
      <li id="news-slide"></li>
      <li id="tonsley-feed-slide"><%= render 'signage/tonsley_feed' %></li>
    </ul>
</div>

<script>
    $(document).ready(function() {
        function update(){
            $.get('<%= url_for :controller => 'signage', :action =>  'bookings', :id => @building.id %>', function(data) {
                $('#bookings-slide').html(data);
            });
            $.get('<%= url_for :controller => 'signage', :action =>  'news', :id => @building.id %>', function(data) {
                $('#news-slide').html(data);
            });
        }

        window.setInterval(update, 60000);
        update();

        $('#slider').flexslider({
            animation: "fade",
            controlNav: false,
            directionNav: false
        });
    });
</script>