<header>
  <div id="flinders-sticky">
    <%= image_tag "flinders.png", { :class => "logo" } %>
    <h1>Welcome to <%= @building.name %> <small>(<%= @building.code %>)</small></h1>
  </div>
</header>

<div class="container-fluid">
  <div class="signage row-fluid">
    <div class="content span6">
      <h1>Happening right now</h1>
      <% if @current_usages.empty? %>
        <p>No classes/events are going on right now</p>
      <% else %>
      <table class="table">
        <tr>
          <th>Booking</th>
          <th>Room</th>
          <th>Room Description</th>
          <th>Starts</th>
          <th>Duration</th>
        </tr>
        <% @current_usages.each do |booking| %>
          <tr>
            <td><%= booking.booked_for %> <%= booking.description %></td>
            <td><%= booking.room.full_code %></td>
            <td><%= booking.room.name %></td>
            <td><%= booking.starts_at.strftime('%H:%M') %></td>
            <td><%= distance_of_time_in_words(booking.duration) %></td>
          </tr>
        <% end %>
      </table>
      <% end %>
      <h1>Looking for a free room?</h1>
      <table class="table">
        <tr>
          <th>Room</th>
          <th>Room Description</th>
          <th>Free for</th>
        </tr>
        <% @empty_rooms.each do |room| %>
          <tr>
            <td><%= room.full_code %></td>
            <td><%= room.name %></td>
            <td><%= time_ago_in_words(room.free_until) %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="content span6">
      <h1>Soon</h1>
      <% if @upcoming_usages.empty? %>
        <p>No classes/events are going on in the next period</p>
      <% else %>
      <table class="table">
        <tr>
          <th>Booking</th>
          <th>Room</th>
          <th>Room Description</th>
          <th>Starts</th>
          <th>Duration</th>
        </tr>
        <% @upcoming_usages.each do |booking| %>
          <tr>
            <td><%= booking.booked_for %> <%= booking.description %></td>
            <td><%= booking.room.full_code %></td>
            <td><%= booking.room.name %></td>
            <td><%= booking.starts_at.strftime('%H:%M') %></td>
            <td><%= distance_of_time_in_words(booking.duration) %></td>
          </tr>
        <% end %>
      </table>
      <% end %>
    </div>
  </div>
</div>