<header id="flinders-sticky">
    <div>
        <%= image_tag "flinders.png", { :class => "logo" } %>
        <h1>Welcome to <%= @building.name %> <small>(<%= @building.code %>)</small> <small>(<%= @term_date.week %>)</small></h1>
    </div>
</header>

<div id="slider" class="flexslider">
    <ul class="slides container-fluid">
      <li id="bookings-slide" class="slide-live" data-url="<%= url_for :controller => 'signage', :action =>  'bookings', :id => @building.id %>"></li>
      <li id="news-slide" class="slide-live" data-url="<%= url_for :controller => 'signage', :action =>  'news', :id => @building.id %>"></li>
      <li id="tonsley-feed-slide"><%= render 'signage/tonsley_feed' %></li>
    </ul>
</div>

<script>
    $.fn.refresh = function() {
        this.load(this.data('url'));
    }

    $(document).ready(function() {
        function updateLiveSlides(){
            $('.slide-live').each(function() {
                $(this).refresh();
            });
        }

        updateLiveSlides();

        $('#slider').flexslider({
            animation: "fade",
            controlNav: false,
            slideshowSpeed: 10000,
            directionNav: false,
            end: function() {
                updateLiveSlides()
            }
        });
    });
</script>