<h1>Room Bookings For <%= @room.full_code %></h1>

<table>
  <tr>
    <th>Type</th>
    <th>Cancelled</th>
    <th>Description</th>
    <th>Booked for</th>
    <th>Start</th>
    <th>End</th>
  </tr>

<% @room.room_bookings.each do |room_booking| %>
  <tr>
    <td><%= room_booking.type %></td>
    <td><%= room_booking.cancelled.to_yn %></td>
    <td><%= room_booking.description %></td>
    <td><%= room_booking.booked_for %></td>
    <td><%= room_booking.starts_at %></td>
    <td><%= room_booking.ends_at %></td>
  </tr>
<% end %>
</table>
